@model AbpCompanyName.AbpProjectName.Web.Models.Account.RegisterViewModel
@{
    ViewBag.DisableTopBar = true;
}
@section Styles
{
    <environment names="Development">
        <link rel="stylesheet" href="~/view-resources/Views/Account/Login.css" asp-append-version="true" />
    </environment>

    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/view-resources/Views/Account/Login.min.css" asp-append-version="true" />
    </environment>
}
@section Scripts{
    <environment names="Development">
        <script src="~/view-resources/Views/Account/Register.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Account/Register.min.js" asp-append-version="true"></script>
    </environment>
}
<div class="container">
    <div id="LoginArea" class="row">
        <div class="col-lg-12">
            <div class="well bs-component">
                <form asp-action="Register" class="form-horizontal register-form" method="POST">
                    <fieldset>
                        <legend>@L("Register")</legend>

                        @if (@ViewBag.ErrorMessage != null)
                        {
                            <div class="alert alert-danger">
                                <i class="fa fa-warning"></i> @ViewBag.ErrorMessage
                            </div>
                        }

                        @if (ViewBag.IsMultiTenancyEnabled)
                        {
                            <div class="form-group">
                                <div class="col-lg-12">
                                    <input type="text" class="form-control" name="TenancyName" placeholder="@L("TenancyName")" value="@Model.TenancyName" required maxlength="@AbpCompanyName.AbpProjectName.MultiTenancy.Tenant.MaxTenancyNameLength">
                                </div>
                            </div>
                        }

                        <input type="hidden" name="IsExternalLogin" value="@Model.IsExternalLogin.ToString()" />
                        <input type="hidden" name="ExternalLoginAuthSchema" value="@Model.ExternalLoginAuthSchema"/>

                        <div class="form-group">
                            <div class="col-lg-12">
                                <input type="text" class="form-control" name="Name" value="@Model.Name" placeholder="@L("Name")" required maxlength="@AbpCompanyName.AbpProjectName.Users.User.MaxNameLength">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-12">
                                <input type="text" class="form-control" name="Surname" value="@Model.Surname" placeholder="@L("Surname")" required maxlength="@AbpCompanyName.AbpProjectName.Users.User.MaxSurnameLength">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-12">
                                <input type="email" class="form-control" name="EmailAddress" value="@Model.EmailAddress" placeholder="@L("EmailAddress")" required maxlength="@AbpCompanyName.AbpProjectName.Users.User.MaxEmailAddressLength">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-12">
                                <input type="text" class="form-control" name="UserName" value="@Model.UserName" placeholder="@L("UserName")" required maxlength="@AbpCompanyName.AbpProjectName.Users.User.MaxUserNameLength">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-12">
                                <input type="password" class="form-control" name="Password" placeholder="@L("Password")" required maxlength="@AbpCompanyName.AbpProjectName.Users.User.MaxPlainPasswordLength">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-12">
                                <button type="submit" id="RegisterButton" class="btn btn-primary"><i class="fa fa-sign-in"></i> @L("Register")</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>