<form id="TenantsSearchForm" class="form-horizontal">
    <div class="abp-advanced-search">
        <div class="input-group">
            <div class="input-group-prepend">
                <button
                    type="button"
                    class="btn bg-blue btn-search">
                    <i class="fas fa-search"></i>
                </button>
            </div>
            <input
                type="text"
                class="form-control txt-search"
                name="Keyword"
                placeholder="@L("SearchWithThreeDot")"/>
            <div class="input-group-append">
                <button
                    type="button"
                    class="btn btn-default abp-advanced-search-toggler">
                    <i
                        class="fas"
                        [class.fa-angle-up]="advancedFiltersVisible"
                        [class.fa-angle-down]="!advancedFiltersVisible">
                    </i>
                </button>
            </div>
        </div>
        <div class="card mb-0 mt-1 abp-advanced-search-body">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row mb-0">
                            <label class="col-md-3 col-form-label">
                                @L("IsActive")
                            </label>
                            <div class="col-md-9 pt-2">
                                <div class="custom-control custom-radio d-inline">
                                    <input
                                        type="radio"
                                        class="custom-control-input"
                                        id="IsActive_All"
                                        name="IsActive"
                                        value=""
                                        checked/>
                                    <label class="custom-control-label" for="IsActive_All">
                                        @L("All")
                                    </label>
                                </div>
                                <div class="custom-control custom-radio d-inline mx-3">
                                    <input
                                        type="radio"
                                        class="custom-control-input"
                                        id="IsActive_Active"
                                        name="IsActive"
                                        value="true"/>
                                    <label
                                        class="custom-control-label"
                                        for="IsActive_Active">
                                        @L("Yes")
                                    </label>
                                </div>
                                <div class="custom-control custom-radio d-inline">
                                    <input
                                        type="radio"
                                        class="custom-control-input"
                                        id="IsActive_Passive"
                                        name="IsActive"
                                        value="false"/>
                                    <label
                                        class="custom-control-label"
                                        for="IsActive_Passive">
                                        @L("No")
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button
                    type="button"
                    class="btn bg-blue btn-search">
                    @L("Search")
                </button>
                <button
                    type="button"
                    class="btn btn-default float-right btn-clear">
                    @L("Clear")
                </button>
            </div>
        </div>
    </div>
</form>