@using AbpCompanyName.AbpProjectName.Web.Startup
@model AbpCompanyName.AbpProjectName.Web.Models.Roles.RoleListViewModel
@{
    ViewBag.Title = L("Roles");
    ViewBag.CurrentPageName = PageNames.Roles;
}

@section scripts
{
    <environment names="Development">
        <script src="~/view-resources/Views/Roles/Index.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Roles/Index.min.js" asp-append-version="true"></script>
    </environment>
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <h1>@L("Roles")</h1>
            </div>
            <div class="col-6 text-right">
                <a href="javascript:;" data-toggle="modal" data-target="#RoleCreateModal" class="btn bg-blue">
                    <i class="fa fa-plus-square"></i>
                    @L("Create")
                </a>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                @await Html.PartialAsync("~/Views/Roles/Index.AdvancedSearch.cshtml")
            </div>
            <div class="card-body table-responsive p-0">
                <table id="RolesTable" class="table table-hover text-nowrap">
                    <thead class="bg-light">
                    <tr>
                        <th>@L("RoleName")</th>
                        <th>@L("DisplayName")</th>
                        <th style="width: 200px;">@L("Actions")</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

@await Html.PartialAsync("~/Views/Roles/_CreateModal.cshtml", Model)

<div class="modal fade" id="RoleEditModal" tabindex="-1" role="dialog" aria-labelledby="RoleEditModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>