@using AbpCompanyName.AbpProjectName.Web.Startup
@using AbpCompanyName.AbpProjectName.Web.Models.Users
@model UserListViewModel
@{ 
    ViewBag.Title = L("Users");
    ViewBag.CurrentPageName = PageNames.Users;
}

@section scripts
{
    <environment names="Development">
        <script src="~/view-resources/Views/Users/Index.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Users/Index.min.js" asp-append-version="true"></script>
    </environment>
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <h1>@L("Users")</h1>
            </div>
            <div class="col-6 text-right">
                <a href="javascript:;" data-toggle="modal" data-target="#UserCreateModal" class="btn bg-blue">
                    <i class="fa fa-plus-square"></i>
                    @L("Create")
                </a>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                @await Html.PartialAsync("~/Views/Users/Index.AdvancedSearch.cshtml")
            </div>
            <div class="card-body table-responsive p-0">
                <table id="UsersTable" class="table table-hover text-nowrap">
                    <thead class="bg-light">
                        <tr>
                            <th>@L("UserName")</th>
                            <th>@L("FullName")</th>
                            <th>@L("EmailAddress")</th>
                            <th>@L("IsActive")</th>
                            <th style="width: 310px;">@L("Actions")</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</section>

@await Html.PartialAsync("~/Views/Users/_CreateModal.cshtml", Model)

<div class="modal fade" id="UserEditModal" tabindex="-1" role="dialog" aria-labelledby="UserEditModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
