@using Abp.Authorization.Users
@model AbpCompanyName.AbpProjectName.Web.Models.Account.RegisterViewModel
@{
    ViewBag.Title = L("Register");
}
@section scripts
{
    <environment names="Development">
        <script src="~/view-resources/Views/Account/Register.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Account/Register.min.js" asp-append-version="true"></script>
    </environment>
}
<h4 class="text-center mb-3">@L("Register")</h4>
<form id="RegisterForm" asp-action="Register" method="post">
    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger">
            <i class="fas fa-warning"></i> @ViewBag.ErrorMessage
        </div>
    }
    <input type="hidden" name="IsExternalLogin" value="@Model.IsExternalLogin.ToString()" />
    <input type="hidden" name="ExternalLoginAuthSchema" value="@Model.ExternalLoginAuthSchema" />
    <div class="form-group">
        <div class="input-group">
            <input type="text" name="Name" class="form-control" placeholder="@L("Name")" value="@Model.Name" required maxlength="@AbpUserBase.MaxNameLength">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-arrow-left"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <input type="text" name="Surname" class="form-control" placeholder="@L("Surname")" value="@Model.Surname" required maxlength="@AbpUserBase.MaxSurnameLength">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-arrow-left"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <input type="email" name="EmailAddress" class="form-control" placeholder="@L("EmailAddress")" value="@Model.EmailAddress" required maxlength="@AbpUserBase.MaxEmailAddressLength">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <input type="text" name="UserName" class="form-control" placeholder="@L("UserName")" value="@Model.UserName" required maxlength="@AbpUserBase.MaxUserNameLength">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-user"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <input type="password" name="Password" class="form-control" placeholder="@L("Password")" required maxlength="@AbpUserBase.MaxPlainPasswordLength">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row mb-0">
        <div class="col-8">
            <a asp-action="Login" type="button" class="btn btn-default">
                <i class="fa fa-arrow-circle-left"></i> @L("Back")
            </a>
        </div>
        <div class="col-4">
            <button type="submit" id="RegisterButton" class="btn btn-primary btn-block">@L("Register")</button>
        </div>
    </div>
</form>